{% extends 'base.html' %}

{% block content %}

    <script>
        function changePerm(userId, perm){
            var body = null,
                url = '/users/' + userId,
                newVal = null;

            if (event.target.innerHTML == 'True'){
                newVal = 'False';
            } else {
                newVal = 'True';
            }
            body = 'permission_name=' + encodeURIComponent(perm) + '&new_value=' + encodeURIComponent(newVal);
            if (sendAjax('PUT', url, body)){
                event.target.innerHTML = newVal;
            }
        }

        function delUser(userId){
            var url = '/users/' + userId;
            if (sendAjax('DELETE', url, '')){
                event.target.parentElement.innerHTML = '';
            }
        }
        
        function sendAjax(method, url, POST) {
            var xhr = new XMLHttpRequest();
            xhr.open(method, url, false);
            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
            xhr.send(POST);

            if (xhr.status == 200) {
                return true;
            } else {
                return false;
            }
        }
    </script>

    <table>
      <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            {% for permission_name in permission_values %}
              <th>{{ permission_name }}</th>
            {% endfor %}
            <th>del</th>
          </tr>
      </thead>
      <tbody>
      {% for user_name, user_val in users_list.items %}
        <tr>
            <td>{{ user_val.id }}</td>
            <td>{{ user_name }}</td>
            {% for permission_name in permission_values %}
              {% if permission_name in user_val %}
                <td onclick="changePerm('{{ user_val.id }}', '{{ permission_name }}')">True</td>
              {% else %}
                <td onclick="changePerm('{{ user_val.id }}', '{{ permission_name }}')">False</td>
              {% endif %}
            {% endfor %}
            <td onclick="delUser('{{ user_val.id }}')">Delete</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div>
        <a href="{% url 'create_user' %}">Add new user</a>
    </div>
{% endblock %}
