{% extends 'base.html' %}

{% block content %}

    <script>
        function sendAjax() {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, false);
            xhr.send();

            if (xhr.status == 200) {

            }
        }
    </script>

    <table>
      <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            {% for p_name in permission_values %}
              <th>{{ p_name }}</th>
            {% endfor %}
            <th>del</th>
          </tr>
      </thead>
      <tbody>
      {% for user in user_list %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            {% with user.name as user_name %}
                {% for p_name in permission_values %}
                  {% if p_name in permission_book.user_name %}
                    <td>True</td>
                  {% else %}
                    <td>False</td>
                  {% endif %}
                {% endfor %}
            {% endwith %}
            <td>

            </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div>
        <a href="{% url 'create_user' %}">Add new user</a>
    </div>
{% endblock %}
